<div class="container content">
  <div class="row">
    <div class="col-md-6 border border-primary">
      Hola Mundo
    </div>
    <div class="col-md-6 border border-primary">
      Hola Mundazo
    </div>
  </div>
</div>
