<head>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
</head>

<h4>Aqui vemos el detallo de una comida!</h4>
<br />
{{comida.id}}
<br />
{{comida.nombre}}
<hr />

<mgl-map [style]="style"
         [zoom]="[2]">OBJEJCSAD
  <mgl-marker [lngLat]="[-75.551012, 10.421185]">
    <div onclick="alert('Hola')"
         class="marker">
      Hola mundo!
    </div>
  </mgl-marker>
</mgl-map>
