 
  <div class="card-content" [@esFavorito]="comida.isSelected() ? 'estadoFavorito':'estadoNoFavorito'">
    <div class="card-img">
      <img src="https://placeimg.com/380/230/nature" alt="">
      <span><h4>{{posicion}}</h4></span>
    </div>
    <div class="card-desc">
      <h3>{{comida.nombre}}</h3>
      <p>
        Sabores
      </p>
      <ul>
        <li *ngFor="let s of comida.sabores">
          <span [ngSwitch]="s">
            <i *ngSwitchCase="'dulce'" style="color:red">{{s}}</i>
            <i *ngSwitchDefault>{{s}}</i>

          </span>
        </li>
      </ul>
      <span>
        <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="comida_vote_up lista_comidas_item">
          <i class="material-icons md-18"> thumb_up</i>
        </a>
         <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="comida_vote_down lista_comidas_item"><i class="material-icons md-18"> thumb_down</i></a>
      </span>
      {{comida.votes}}
      <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="comida_elegir_preferido lista_comidas_item">IR</a>
      <span *ngIf="comida.isSelected()"><span ngNonBindable> -Preferido- </span> </span>
      <a [routerLink]="['/comida',comida.id]">Ver detalle</a>
    </div>
  </div>
 


