<p class="h2">Restaurantes WORKS!</p>

<div class="navLinks">
  <a [routerLink]="['./main']" class="nav-item">Main</a>
  <a [routerLink]="['./mas-info']">Mas Info</a>
  <a [routerLink]="['./',5]">Rest 5</a>
</div>
<router-outlet></router-outlet>
