<p>reservas-listado works!</p>
<a [routerLink]="['./',10]" class="badge badge-primary mr-2">Ir a detalle</a>
<a [routerLink]="['/login']" class="badge badge-primary mr-2">Ir a login</a>
<br />
<br />
<div *ngFor="let r of api.getAll()">
  {{r.id}} - - -{{r.name}}
</div>
