<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header>
  <div style="float:right">
    <select (change)="translate.use($event.target.value)">
      <option value="es">Español</option>
      <option value="en">Ingles</option>
      <option value="fr">Frances</option>
    </select>
  </div>

  <div class="container content">
    <div class="page-header">
      <div class="container">
        <p class="h1"> Ruteo Simple</p>
        <div class="navLinks">
          <a [routerLink]="['./home']" class="btn">Home</a>
          <a [routerLink]="['./comida']" class="btn">Comida</a>
          <a [routerLink]="['./login']" class="badge badge-danger">Login</a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container content" role="main">
  <div class="row">
    <p class="h1">
      {{title}} <b [innerHtml]="'HOLA' | translate"></b>
    </p>
  </div>
  <router-outlet></router-outlet>
  
</div>
<hr class="mb-5" />

Fecha:{{time | async}}

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
