<div class="container	content">
  <div class="row">
    <div class="col-md-6	offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <!-- form	card	login	with	validation	feedback	-->
      <div class="card	card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Whishlist</h3>
        </div>
        <div class="card-body">
          <app-form-opcion-comida (onItemAdded)="agregado($event)"></app-form-opcion-comida>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5">
  <div class="row">
    <app-opciones-comida *ngFor="let d of all; let i=index"
                         [comida]="d"
                         [idx]="i+1"
                         (clicked)="elegido($event)"
                         appEspiame
                         ></app-opciones-comida>
  </div>
  <button type="button" (click)="reiniciarVotos()" class="btn-danger">Reiniciar Botos</button>
  <button type="button" (click)="vaciarLista()" class="btn-danger" style="margin:10px">Vaciar Lista</button>
  <hr class="mb-5">
  <div class="row row-flex">
    <h5> Actividad</h5>
    <ul>
      <li *ngFor="let u of updates;">{{u}}</li>
    </ul>
  </div>

</div>
